<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>yasitemap</name>
            <displayName><![CDATA[Yandex sitemap]]></displayName>
            <version><![CDATA[2.2.7]]></version>
            <description><![CDATA[Generate your Yandex sitemap file]]></description>
            <author><![CDATA[Sanche]]></author>
            <tab><![CDATA[seo]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>